<!-- Failname -->
<div class="container loadbar" *ngIf="(logic == 'load')">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 text-center">
    <img src="{{baseUrl}}/img/Rolling-1s-200px.gif" alt="load">
    <p style="color:white">Loading...</p>
  </div>
</div>


<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="blaclips">
        <div class="login-box">
          <div class="login-logo">
            <a>
              <b>Token Ruangan </b>Pemilu !</a>
          </div>
          <!-- /.login-logo -->
          <div class="login-box-body">
            <p class="login-box-msg" *ngIf="!status">Selamat Datang {{username}} </p>
            <p class="login-box-msg" *ngIf="status">Selamat Datang {{orang.name}}</p>
            <p class="login-box-msg">Token akan diberikan oleh panitia pemilu {{baseUrl}}</p>

            <form method="post" (submit)="matchTok()">
              <div class="form-group has-feedback">
                <input type="email" class="form-control input-lg" placeholder="Masukkan Token" [(ngModel)]="model.token" name="token">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <button type="submit" class="btn btn-info">Masuk Ruangan</button>
              <button type="button" class="btn btn-danger" (click)="logOutSocial()">Keluar</button>
            </form>
            <!-- /.social-auth-links -->

          </div>
          <!-- /.login-box-body -->
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="animate">
      <div>
        <img src="../../assets/image/handvote.png" class="img-responsive" id="moving" alt="Image">
        <img src="../../assets/image/Kotak.png" class="img-responsive" alt="Image">
      </div>
    </div>
  </div>
</div>