$primary: #132844;
.baclips{
    background-color: white;position: relative;z-index: 3 !important;
    
}
.container-fluid{background: $primary;height: 100vh;}
.login-logo{
    a{
        color: white;
    }
}
.login-box{
    width: 500px;margin-top: 20vh;
    @media screen and (max-width: 991px){
        width: 300px;
    }
}

.loadbar{
    width: 100%;height: 100%;position: fixed;z-index: 4 !important;background-color: rgba(5, 5, 5, 0.929);
    padding-top: 33vh;
}
#animate{
    
    div{
        position: relative;
        #moving{position: absolute;transform: translateX(10%) translateY(-7vh);
        animation-name: vote;animation-duration: 2s;animation-iteration-count: infinite;}
        
    }
    @media screen and (max-width: 991px) {
        div{
            display: none
        }
    }

}
@keyframes vote{
    0%{transform: translateX(10%) translateY(-7vh);}
    50%{transform: translateX(10%) translateY(-2vh);}
    100%{transform: translateX(10%) translateY(-7vh);}
}