<!-- Failname -->
<div class="container loadbar" *ngIf="(logic == 'load')">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <img src="{{baseUrl}}/img/Rolling-1s-200px.gif" alt="load">
    <p style="color:white">Loading...</p>
  </div>
</div>


<!-- Failname -->
<div class="container frameart" *ngIf="(logic == 'Wname')">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 fillart text-center">
    <h1>Maaf anda tidak terdaftar. Silahkan Daftar</h1>
    <p>Please Contact your Admin</p>
    <div style="margin:40px 0;"></div>
    <button type="button" class="btn btn-primary" (click)="clearOn()">Back To Login</button>
  </div>
</div>

<!-- Failpassword -->
<div class="container frameart" *ngIf="(logic == 'Wpass')">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 fillart text-center">
    <h1 style="color: red;">Oops!! Password Kamu Salah</h1>
    <p>Please Contact your Admin</p>
    <div style="margin:40px 0;"></div>
    <button type="button" class="btn btn-primary" (click)="clearOn()">Back To Login</button>
  </div>
</div>

<!-- Failconnect -->
<div class="container frameart" *ngIf="(logic == 'ErrConn')">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 fillart text-center">
    <h1 style="color: red;">Oops!! Your lost Connection</h1>
    <p>Please Try again Latter</p>
    <div style="margin:40px 0;"></div>
    <button type="button" class="btn btn-primary" (click)="clearOn()">Back To Login</button>
  </div>
</div>

<!-- Success -->
<div class="container frameart" *ngIf="(logic == 'logged')">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 fillart text-center">
    <h1 style="color: rgb(0, 214, 0);">Success!! Welcome {{user.name}}</h1>
    <p>Enjoy Our Featurs</p>
    <div style="margin:40px 0;"></div>
  </div>
</div>


<div class="margintop">
</div>
<div class="topup">
  <p>Powered by Google</p>
</div>
<div style="height: 7.5vh"></div>
<div class="container blaclips" *ngIf="(logic == 'noLog')">
  <div class="login-box">
    <div class="login-logo">
      <a style="color: black">
        <b>Login </b>User
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">

      <form method="post" (submit)="login()" ngNativeValidate>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Type your username" [(ngModel)]="model.username" name="username" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <input type="password" class="form-control" placeholder="Type your password" [(ngModel)]="model.password" name="password"
            required>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12">
            <input type="submit" class="btn btn-info" value="Sign In">
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 
      col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <h5 class="text-center" style="margin-top: 35px;">
          Sign With
        </h5>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="icon">
          <div class="icon-circle google" (click)="signInGoogle()">
            <div class="icon">
              <i class="fa fa-google"></i>
            </div>
          </div>
          <div class="icon-circle facebook" (click)="signInFacebook()">
            <div class="icon">
              <i class="fa fa-facebook"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin: 10vh 0 0 0">
        
          <br>Doesn't have account
          <a routerLink="/daftar" class="text-center"> Sign Up here</a>
          <br>
          <a routerLink="/">Back</a>
          <br>

        
      </div>


    </div>
    <!-- /.login-box-body -->
  </div>
</div>