<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <h1 id="brand">Let's
                    <small>Choose</small>
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ducimus alias dolorum accusamus enim? Quaerat velit commodi
                    temporibus maxime, odit omnis ipsa optio magnam aliquam pariatur ipsam asperiores quidem excepturi?
                </p>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div id="image">

                    <img [src]="image" class="img-responsive" alt="Image">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="sign text-center">
                <h4 [routerLink]="['login']" id="login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Login Here
                </h4>
                <h4 [routerLink]="['loginAdmin']" id="login-admin">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Login Admin Here
                </h4>
                <!-- <button type="button" class="btn btn-info" [routerLink]="['login']">
                    <h3>
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login Here
                    </h3>
                </button> -->
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header text-center">
                <h1>Introduction
                    <small>Let's choose</small>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="intro" id="intro-one">
                <h1>90%</h1>
                <h3>Data akurat</h3>
                <!-- <i class="fa fa-database" aria-hidden="true"></i> -->
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="intro" id="intro-two">
                <h1>95%</h1>
                <h3>Akses cepat</h3>
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="intro" id="intro-three">
                <h1>95%</h1>
                <h3>Mudah</h3>
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <footer>
        <p class="text-center">
            &copy;LetsChoose Crew | Powered by Google
        </p>
    </footer>
</div>