<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>Contents ...</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header text-center">
                <h1>Introduction <small>Let's choose</small></h1>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h2 class="text-center">Akses <small>yang mudah</small></h2>
            <p>
                Website kami dapat digunakan semua kalangan dengan tujuan memudahkan pemilihan dimana saja dan
                kapan saja, agar para pengguna dapat melakukan pemilihan dengan lebih mudah
            </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h2 class="text-center">Ketepatan <small>data</small></h2>
            <p>
                Website kami memberikan fasilitas real time data dimana user dapat melihat hasil dari voting yang 
                sedang berlangsung dan terus berubah datanya sehingga website kami menyajikan data teraktual
            </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h2 class="text-center">Mudah <small>digunakan</small></h2>
            <p>
                Website ini di desain dengan tampilan yang mudah dipahami oleh pengguna. sehingga pengguna dapat dengan
                mudah mengunakan website ini untuk melakukan pemilihan 
            </p>
        </div>
      
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="background:black;">
                try
            </div>
        </div>
        
    </div>
    
</div>


