<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <h1 id="brand">Let's <small>Choose</small></h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ducimus alias dolorum accusamus enim? Quaerat velit commodi 
                    temporibus maxime, odit omnis ipsa optio magnam aliquam pariatur ipsam asperiores quidem excepturi?
                </p>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div id="image"></div>
            </div>
        </div>
        <div class="row">
            <div class="sign" [routerLink]="['login']">
                <h3 id="main-sign">Log In Here <i class="fa fa-sign-in" aria-hidden="true"></i></h3>
                <div class="btn-effect">
                    <h3>Log In Here <i class="fa fa-sign-in" aria-hidden="true"></i></h3>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header text-center">
                <h1>Introduction <small>Let's choose</small></h1>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img [src]="image" class="img-responsive" alt="Image">
            <h2 class="text-center">Akses <small>yang mudah</small></h2>
            <p>
                Website kami dapat digunakan semua kalangan dengan tujuan memudahkan pemilihan dimana saja dan
                kapan saja, agar para pengguna dapat melakukan pemilihan dengan lebih mudah
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2 class="text-center">Ketepatan <small>data</small></h2>
            <p>
                Website kami memberikan fasilitas real time data dimana user dapat melihat hasil dari voting yang 
                sedang berlangsung dan terus berubah datanya sehingga website kami menyajikan data teraktual
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2 class="text-center">Mudah <small>digunakan</small></h2>
            <p>
                Website ini di desain dengan tampilan yang mudah dipahami oleh pengguna. sehingga pengguna dapat dengan
                mudah mengunakan website ini untuk melakukan pemilihan 
            </p>
        </div>
      
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="started-custom">
                    <div class="started-effect"></div>
                    <h1>Get started <i class="fa fa-arrow-right" aria-hidden="true"></i></h1>
                </div>                  
            </div>
        </div>
        
    </div>
    
</div>


