$base: "../../assets/image/";
$primary: #132844;
$green: #5cb85c;
$red: #d9534f;
.jumbotron{
    height: 100vh;padding: 40vh 0 0 0;background: lighten($primary, 10%);
    .container{
        p{color: white;}
        #image{width: 100%;height: 200px;}
        #brand{
            color: lighten($primary, 50%);
            small{color: white;}
        }
        .sign{
            color: white;   
            h3{
                i{transition: .2s;}
            }
            &:active{outline: none;}
            &:hover{
                cursor: pointer;
                h3{
                    i{transform: rotate(360deg);}
                }
            }
        }
    }
}


.intro{
    position: relative;overflow: hidden;color: white;padding: 10px;transition: .2s;
    h1{font-weight: bolder;}
    h3{font-weight: bolder;}
    i{position: absolute;top: 0;right: 0;font-size: 100px;color: white;transform: translateX(-10px) translateY(10px);transition: .2s;}
    &:hover{
        cursor: pointer;box-shadow: 3px 3px 1px darkgray;
        // h1{text-shadow: -2px -2px 1px black;}
        // h3{text-shadow: -2px -2px 1px black;}
        i{transform: scale(1.3, 1.3) translateX(-20px) translateY(13px);filter: drop-shadow(5px 5px 1px black);}
    }
}
#intro-one{
    background: lighten($primary, 20%);
    &:hover{background: lighten($primary, 15%)}
}
#intro-two{
    background: darken($green, 5%);
    &:hover{background: darken($green, 10%)}
}
#intro-three{
    background: darken($red, 5%);
    &:hover{background: darken($red, 10%)}
}