$primary: #132844;
.baclips{
    background-color: white;position: relative;z-index: 3;margin-top: 23vh;color: white;
}
.topup{
    position: fixed;width: 100%;height: 100vh;z-index: 2;
    p{
        position: absolute;bottom: 0;right: 5px;color: rgb(255, 255, 255);
    }
}
.margintop{
    margin:auto;padding:auto;width: 100%;height: 100vh;position: fixed;background: lighten($primary, 15%);z-index: 1;
}