<div class="margintop">
</div>
<div class="topup">
  <p>Powered by Google</p>
</div>
<div style="height: 7.5vh"></div>
<div class="container blaclips">
  <div class="login-box">
    <div class="login-logo">
      <a style="color: black">
        <b>Daftar </b>Admin
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">

      <form method="post" role="form" ngNativeValidate (submit)="addAdmin()">
        <div class="form-group has-feedback">
          <label for="">Username</label>
          <input type="text" class="form-control" placeholder="Type your username" [(ngModel)]="model.username" name="username" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <label for="">Password</label>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <input type="password" class="form-control" placeholder="Type your password" required [(ngModel)]="model.password" name="password">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" placeholder="Input field" required [(ngModel)]="model.email" name="email">
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12">
            <input type="submit" class="btn btn-info" value="Sign Up">
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 
            col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">

      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin: 10vh 0 0 0">

        <a routerLink="/loginAdmin">Back</a>
        <br>
        <div class="alert alert-success" *ngIf="logic">
          <strong>Success</strong> Pendaftaran Berhasil. Silahkan login untuk Membuat pemilu
        </div>

      </div>

    </div>
    <!-- /.login-box-body -->
  </div>
</div>