<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="calon">
      <div class="text-center">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </div>
      <div class="page-header">
        <h1>Nama
          <small>subtext</small>
        </h1>
      </div>
      <!-- ________________|_Deskripsi_|________________ -->
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, enim tempora. Ab, beatae? Mollitia quisquam sapiente
        maiores cumque. Odio porro nostrum, accusantium cum temporibus ullam? Porro voluptatum dolor repellat vitae!
      </p>
    </div>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="calon">
      <div class="text-center">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </div>
      <div class="page-header">
        <h1>Nama
          <small>subtext</small>
        </h1>
      </div>
      <!-- ________________|_Deskripsi_|________________ -->
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, enim tempora. Ab, beatae? Mollitia quisquam sapiente
        maiores cumque. Odio porro nostrum, accusantium cum temporibus ullam? Porro voluptatum dolor repellat vitae!
      </p>
    </div>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="calon">
      <div class="text-center">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </div>
      <div class="page-header">
        <h1>Nama
          <small>subtext</small>
        </h1>
      </div>
      <!-- ________________|_Deskripsi_|________________ -->
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, enim tempora. Ab, beatae? Mollitia quisquam sapiente
        maiores cumque. Odio porro nostrum, accusantium cum temporibus ullam? Porro voluptatum dolor repellat vitae!
      </p>
    </div>
  </div>

</div>