$base: "../../assets/image/";
$primary: #132844;
$background: #111111;
#main-nav{
    background: lighten($background, 10%);height: 100vh;position: fixed;z-index: 1;
    img{margin: 1vh 0 0 0;}
    .nav-cont{
        border-left: medium solid rgba($primary, 0);padding: 5px 0 5px 20px;margin: 5px 0;color: lightgray;
        &:hover{
            background: lighten($background, 20%);border-left: medium solid lighten($primary, 10%);cursor: pointer;
        }
    }
}