<div class="container-fluid">
    
    <div class="row" id="nav-fix">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="brand">
            <h3 class="text-center">LetsChoose</h3>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="nav">        
            <h3>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </h3>
        </div>
        
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="main-nav">
            <div class="nav-cont">
                
            </div>
        </div>        
    </div>
</div>