<div class="col-xs-8 col-sm-8 col-md-2 col-lg-2" id="main-nav">
    <img [src]="img" class="img-responsive" alt="Image">
    <div class="nav-cont" routerLink="/dashboard">
        <i class="fa fa-user" aria-hidden="true"></i>
        {{useradmin}}
    </div>
    <div class="nav-cont" routerLink="/dashboard/tambahruang">
        <i class="fa fa-home" aria-hidden="true"></i>
        Buat Ruang 
    </div>
    <div class="nav-cont" routerLink="/dashboard/hasilRuang">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        Hasil Pemilihan
    </div>
    <div class="nav-cont" (click)="deleteAdmin()">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete this admin
    </div>
    <div class="nav-cont" (click)="changeSt()">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Logout
    </div>
</div>