<!-- Failname -->
<div class="container loadbar" *ngIf="(logic == 'load')">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <img src="{{baseAse}}/img/Rolling-1s-200px.gif" alt="load">
    <p style="color:white">Loading...</p>
  </div>
</div>


<!-- Failname -->
<div class="container frameart" *ngIf="(logic == 'Wname')">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 fillart text-center">
    <h1>Maaf anda tidak terdaftar. Silahkan Daftar</h1>
    <p>Please Contact your Admin</p>
    <div style="margin:40px 0;"></div>
    <button type="button" class="btn btn-primary" (click)="clearOn()">Back To Login</button>
  </div>
</div>

<!-- Failpassword -->
<div class="container frameart" *ngIf="(logic == 'Wpass')">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 fillart text-center">
  <h1 style="color: red;">Oops!! Password Kamu Salah</h1>
  <p>Please Contact your Admin</p>
  <div style="margin:40px 0;"></div>
  <button type="button" class="btn btn-primary" (click)="clearOn()">Back To Login</button>
</div>
</div>

<!-- Failconnect -->
<div class="container frameart" *ngIf="(logic == 'ErrConn')">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 fillart text-center">
    <h1 style="color: red;">Oops!! Your lost Connection</h1>
    <p>Please Try again Latter</p>
    <div style="margin:40px 0;"></div>
    <button type="button" class="btn btn-primary" (click)="clearOn()">Back To Login</button>
  </div>
</div>

<div class="margintop">
</div>
<div class="topup">
  <p>Powered by Framework</p>
</div>
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 baclips">
      
      <form method="post" role="form" ngNativeValidate (submit)="loginAdmin()">
        <legend><h1>Login Admin !</h1></legend>
  
        <div class="form-group">
          <label for="">Username</label>
          <input type="text" class="form-control input-lg" placeholder="Input field" 
          name="username" required [(ngModel)]="model.username">
        </div>
  
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control input-lg" placeholder="Input field" name="password" required
            name="username" required [(ngModel)]="model.password">
          </div>
          
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-warning" routerLink="/">Kembali ke Awal</button>
        <span>Belum punya akun admin <a routerLink="/buatAdmin">Daftar Disini</a></span>
        
      </form>
      <label></label>
      
    </div>
  </div>
  