/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import 'assets/css/plugin.css';

*::-webkit-scrollbar {width: 5px;border: none;}
*::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.1);border: none;}
*::-webkit-scrollbar-thumb {background: #F08519;border: none;}
*::-webkit-scrollbar {width: 5px;}
*::-webkit-scrollbar-track {background: rgba(black, 0.1);}
*::-webkit-scrollbar-thumb {background: #001F3F;}

.list-group{border-radius: 0 !important;}
.list-group-item{border-radius: 0 !important;}
.form-control{border-radius: 0 !important;}
.alert{border-radius: 0 !important;}
.input-group-addon{border-radius: 0 !important;}
<<<<<<< HEAD
.btn{border-radius: 0;transition: all.3s}
.btn-info{background-color: transparent;color: #5bc0de;}
.btn-warning{background-color: transparent;color: #eea236}
.btn-success{background-color: transparent;color: #4cae4c}
.btn-danger{background-color: transparent;color: #d43f3a}
=======
.btn{border-radius: 0 !important;transition: all.3s}
>>>>>>> af7e55b59d46464ffc24c74e08aa22abd8429633
